#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

ASSET_PREFIX=prod
BUNDLE_NAME=DTH
BUNDLE_DISPLAY_NAME=DTH

GOOGLE_IOS_CLIENT_ID=983718236250-bcnqerhm519i665dmenescqucbphp8r3.apps.googleusercontent.com
REVERSED_CLIENT_ID=com.googleusercontent.apps.983718236250-bcnqerhm519i665dmenescqucbphp8r3

// Branch.io (prod) — TODO: replace with real values
BRANCH_KEY_LIVE=key_live_mrEidOFck5yM0q7M0MhXMffpxsaKZuSP
BRANCH_KEY_TEST=key_test_lBAejGAbi3BI5F2K5Kc29olkDrcGYtO3
BRANCH_UNIVERSAL_LINK_DOMAIN_1=dth-show.app.link
BRANCH_UNIVERSAL_LINK_DOMAIN_2=dth-show-alternate.app.link
BRANCH_URI_SCHEME=dth